<div class="main-wrapper">
  <div class="page-wrapper full-page">
    <div class="page-content d-flex align-items-center justify-content-center">

      <div class="row w-100 mx-0 auth-page">
        <div class="col-md-8 col-xl-6 mx-auto">
          <div class="card">
            <div class="row">
              <div class="col-md-4 pe-md-0">
                <div class="auth-side-wrapper">
                </div>
              </div>
              <div class="col-md-8 ps-md-0">
                <div class="auth-form-wrapper px-4 py-5">
                  <img src="assets/images/logo-lady-lee.png">
                  <h5 class="text-muted fw-normal mb-4"><br />Bienvenido, favor ingrese sus datos:</h5>
                  
                    <div class="mb-3">
                      <label class="form-label">Correo Electrónico</label>
                      <input type="text" [(ngModel)]="user.identity" class="form-control" autocomplete="off" pInputText
                        placeholder="Correo Electrónico" [ngClass]="!validIdentity ? 'ng-dirty ng-invalid' : ''" />
                    </div>
                    <div class="mb-3">
                      <label for="userPassword" class="form-label">Contraseña</label>
                      <input type="password" [(ngModel)]="user.password" class="form-control" autocomplete="off"
                        pInputText placeholder="Contraseña" [ngClass]="!validPassword ? 'ng-dirty ng-invalid' : ''" />
                    </div>
                    <div class="form-check mb-3">
                      <input type="checkbox" class="form-check-input" id="authCheck">
                      <label class="form-check-label" for="authCheck">
                        Recordar
                      </label>
                    </div>
                    <div>
                      <a  class="btn btn-primary me-2 mb-2 mb-md-0 text-white"  (click)="submit()">Ingresar</a>
                    </div>
                    <a href="#" class="d-block mt-3 text-muted">¿Olvidó su contraseña? Recordar Contraseña</a>
                    <p-progressSpinner [style]="{width: '50px', height: '50px'}" *ngIf="logining"></p-progressSpinner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>