<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Lista de Cotizaciones</h6>

        <p-table #dt [value]="opportunities" [rows]="10" [paginator]="true" [rowHover]="true" dataKey="id"
          [loading]="loading" styleClass="p-datatable-customers"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
          [showCurrentPageReport]="true"
          [globalFilterFields]="['Stage','LeadSource','OpportunityType','ForecastCategory']" >
          <ng-template pTemplate="caption">
            <div class="table-header d-flex justify-content-end">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Buscar" />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="Stage">Etapa <p-sortIcon field="Stage"></p-sortIcon>
              </th>
              <th pSortableColumn="LeadSource">Origen del prospecto <p-sortIcon field="LeadSource"></p-sortIcon>
              </th>
              <th pSortableColumn="OpportunityType">Tipo <p-sortIcon field="OpportunityType"></p-sortIcon>
              </th>
              <th pSortableColumn="ForecastCategory">Categoría de previsión <p-sortIcon field="ForecastCategory"></p-sortIcon>
              </th>

              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-opportunity>
            <tr>
              <td>
                {{opportunity.Stage}}
              </td>
              <td>
                {{opportunity.LeadSource}}
              </td>
              <td>
                {{opportunity.OpportunityType}}
              </td>
              <td>
                {{opportunity.ForecastCategory}}
              </td>
              <td>
                <button pButton pRipple class="btn btn-primary btn-xs"  [routerLink]="['/viewopportunity', opportunity.OpportunityID]">Ver</button>
                <button pButton pRipple class="btn btn-primary btn-xs"  [routerLink]="['/savetask', opportunity.OpportunityID]">Agregar Tarea</button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="editDialog" [style]="{width: '1000px'}" header="Cotización-Modificar" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="card">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label>Name</label>
          <input [(ngModel)]="editedOpportunity.Opportunity_Name" type="text" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <label>Close Date</label>
          <input [(ngModel)]="editedOpportunity.Close_Date" type="text" pInputText>
        </div>

      </div>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    <p-progressSpinner [style]="{width: '20px', height: '20px'}" *ngIf="updating"></p-progressSpinner>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="viewDialog" [style]="{width: '1000px'}" header="Cotización" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">


    <div class="p-d-flex p-jc-md-between">
      <h5>Detailes</h5>
      <div>
        <button pButton pRipple class="p-button-rounded p-button-success p-mr-2" (click)="edit()">Modificar</button>
      </div>
    </div>


    <hr>
    <p-accordion [multiple]="true">
      <p-accordionTab header="INFIRMACIÓN GENERAL" [selected]="true">
        <div class="p-col-12">
          <div class="card">
            <table class="infoTable">
              <tr>
                <th>Name</th>
                <td>{{ selectedOpportunity.Opportunity_Name }}</td>
                <th>Stage</th>
                <td>{{ selectedOpportunity.Stage }}</td>
              </tr>
              <tr>
                <th>Created Date</th>
                <td>{{ selectedOpportunity.Created_Date | date:'MM/dd/yyyy' }}</td>
                <th> Close Date</th>
                <td>{{ selectedOpportunity.Close_Date | date:'MM/dd/yyyy'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </p-accordionTab>
      <p-accordionTab header="TAREAS" [selected]="true">
        <p>-List of tareas</p>
      </p-accordionTab>
    </p-accordion>

  </ng-template>

  <!--  <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveLookup()"></button>
      </ng-template> -->
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>