<div class="row" *ngIf="loading">
  <div class="col text-center">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row ">
          <div class="col-sm-6">
            <h3 class="card-title">Bienvenido Juan Robles</h3>
            <h5 class="card-title">Ver la Prospecto</h5>
          </div><!-- Col -->
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary btn-xs"  [routerLink]="['/savetask', selectedOpportunity.OpportunityID]">Agregar</button>
            <button type="button" [routerLink]="['/editopportunity', selectedOpportunity.OpportunityID]"
              class="btn btn-primary btn-xs">Modificar</button>
          </div><!-- Col -->
        </div><!-- Row -->
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">INFORMACIÓN GENERAL</h6>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <label for="Name" class="form-label">Nombre de la oportunidad</label>
             <input disabled id="Name" [ngModel]="selectedOpportunity.Name" type="text" class="form-control"
                placeholder="Nombre de la oportunidad">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="AccountID" class="form-label">Nombre de la cuenta</label>
             <input disabled id="AccountID" [ngModel]="selectedOpportunity.AccountID" type="text" class="form-control"
                placeholder="Nombre de la cuenta">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Description" class="form-label">Descripción</label>
             <input disabled id="Description" [ngModel]="selectedOpportunity.Description" type="text" class="form-control"
                placeholder="Descripción">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Stage" class="form-label">Etapa</label>
             <input disabled id="Stage" [ngModel]="selectedOpportunity.Stage" type="text" class="form-control"
                placeholder="Etapa">
          </div>
          
          <div class="col-sm-6 mb-3">
            <label for="CloseDate" class="form-label">Fecha de cierre</label>
             <input disabled id="CloseDate" [ngModel]="selectedOpportunity.CloseDate" type="text" class="form-control"
                placeholder="Fecha de cierre">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="ExpectedAmount" class="form-label">Ingresos previstos</label>
             <input disabled id="ExpectedAmount" [ngModel]="selectedOpportunity.ExpectedAmount" type="text" class="form-control"
                placeholder="Ingresos previstos">
          </div>
          
          <div class="col-sm-6 mb-3">
            <label for="CampaignID" class="form-label">Origen de la campaña principal</label>
             <input disabled id="CampaignID" [ngModel]="selectedOpportunity.CampaignID" type="text" class="form-control"
                placeholder="Origen de la campaña principal">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="LeadSource" class="form-label">Origen del prospecto</label>
             <input disabled id="LeadSource" [ngModel]="selectedOpportunity.LeadSource" type="text" class="form-control"
                placeholder="Origen del prospecto">
          </div>
          
          <div class="col-sm-6 mb-3">
            <label for="OpportunityType" class="form-label"></label>
             <input disabled id="OpportunityType" [ngModel]="selectedOpportunity.OpportunityType" type="text" class="form-control"
                placeholder="">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="NombreCompleto" class="form-label">Nombre completo</label>
             <input disabled id="NombreCompleto" [ngModel]="selectedOpportunity.NombreCompleto" type="text" class="form-control"
                placeholder="Nombre completo">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Identificacion" class="form-label">Identificacion</label>
             <input disabled id="Identificacion" [ngModel]="selectedOpportunity.Identificacion" type="text" class="form-control"
                placeholder="Identificacion">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Email" class="form-label">Email</label>
             <input disabled id="Email" [ngModel]="selectedOpportunity.Email" type="text" class="form-control"
                placeholder="Email">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Telefono" class="form-label">Telefono</label>
             <input disabled id="Telefono" [ngModel]="selectedOpportunity.Telefono" type="text" class="form-control"
                placeholder="Telefono">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="CodigoVendedor" class="form-label">Codigo Vendedor</label>
             <input disabled id="CodigoVendedor" [ngModel]="selectedOpportunity.CodigoVendedor" type="text" class="form-control"
                placeholder="Codigo Vendedor">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Prospecto" class="form-label">Prospecto</label>
             <input disabled id="Prospecto" [ngModel]="selectedOpportunity.Prospecto" type="text" class="form-control"
                placeholder="Prospecto">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="MontoPrima" class="form-label">Monto Prima</label>
             <input disabled id="MontoPrima" [ngModel]="selectedOpportunity.MontoPrima" type="text" class="form-control"
                placeholder="Monto Prima">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="MontoFinanciammiento" class="form-label">Monto Financiammiento</label>
             <input disabled id="MontoFinanciammiento" [ngModel]="selectedOpportunity.MontoFinanciammiento" type="text"
              class="form-control"   placeholder="Monto Financiammiento">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Plazo" class="form-label">Plazo</label>
             <input disabled id="Plazo" [ngModel]="selectedOpportunity.Plazo" type="text" class="form-control"
                placeholder="Plazo">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Cuota" class="form-label">Cuota</label>
             <input disabled id="Cuota" [ngModel]="selectedOpportunity.Cuota" type="text" class="form-control"
                placeholder="Cuota">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="FrecuenciaPago" class="form-label">Frecuencia Pago</label>
             <input disabled id="FrecuenciaPago" [ngModel]="selectedOpportunity.FrecuenciaPago" type="text" class="form-control"
                placeholder="Frecuencia Pago">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Tiendadepreferencia" class="form-label">Tienda de preferencia</label>
             <input disabled id="Tiendadepreferencia" [ngModel]="selectedOpportunity.Tiendadepreferencia" type="text"
              class="form-control"   placeholder="Tienda de preferencia">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="Nombredelvendedor" class="form-label">Nombre del vendedor</label>
             <input disabled id="Nombredelvendedor" [ngModel]="selectedOpportunity.Nombredelvendedor" type="text"
              class="form-control"   placeholder="Nombre del vendedor">
          </div>
          <div class="col-sm-6 mb-3">
            <label for="UsuarioPortal" class="form-label">Usuario Portal</label>
             <input disabled id="UsuarioPortal" [ngModel]="selectedOpportunity.UsuarioPortal" type="text" class="form-control"
                placeholder="Usuario Portal">
          </div>
        </div><!-- Row -->

        <div class="row">
          <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">CONTACTACIÓN</h6>
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <label for="Estadodecontactacin" class="form-label">Estado de contactación</label>
                     <input disabled id="Estadodecontactacin" [ngModel]="selectedOpportunity.Estadodecontactacin" type="text"
                      class="form-control"   placeholder="Estado de contactación">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="Observaciones" class="form-label">Observaciones</label>
                     <input disabled id="Observaciones" [ngModel]="selectedOpportunity.Observaciones" type="text" class="form-control"
                        placeholder="Observaciones">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="Probability" class="form-label">Probability (%)</label>
                     <input disabled id="Probability" [ngModel]="selectedOpportunity.Probability" type="text" class="form-control"
                        placeholder="Probability (%)">
                  </div>

                </div><!-- Row -->
              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">COTIZACIÓN</h6>
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <label for="EstadodeCotizacin" class="form-label">Estado de Cotización</label>
                     <input disabled id="EstadodeCotizacin" [ngModel]="selectedOpportunity.EstadodeCotizacin" type="text" class="form-control"
                        placeholder="Estado de Cotización">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="Amount" class="form-label">Amount</label>
                     <input disabled id="Amount" [ngModel]="selectedOpportunity.Amount" type="text" class="form-control"
                        placeholder="Amount">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="Montofinal" class="form-label">Monto final</label>
                     <input disabled id="Montofinal" [ngModel]="selectedOpportunity.Montofinal" type="text" class="form-control"
                        placeholder="Monto final">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="Impuestos" class="form-label">Impuestos</label>
                     <input disabled id="Impuestos" [ngModel]="selectedOpportunity.Impuestos" type="text" class="form-control"
                        placeholder="Impuestos">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="Descuento" class="form-label">Descuento</label>
                     <input disabled id="Descuento" [ngModel]="selectedOpportunity.Descuento" type="text" class="form-control"
                        placeholder="Descuento">
                  </div>

                </div><!-- Row -->
              </div>
            </div>
          </div>
        </div>

        

        <div class="row">
          <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">FACTURACION</h6>
                <div class="row">
                 
                  <div class="col-sm-6 mb-3">
                    <label for="Formadepago" class="form-label">Forma de pago</label>
                     <input disabled id="Formadepago" [ngModel]="selectedOpportunity.Formadepago" type="text" class="form-control"
                        placeholder="Forma de pago">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="NumerodeFactura" class="form-label">Número de factura</label>
                     <input disabled id="NumerodeFactura" [ngModel]="selectedOpportunity.NumerodeFactura" type="text" class="form-control"
                        placeholder="Número de factura">
                  </div>

                </div><!-- Row -->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 stretch-card grid-margin">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">INFORMACIÓN DEL SISTEMA</h6>
                <div class="row">
                 
                  <div class="col-sm-6 mb-3">
                    <label for="CreatedByID" class="form-label">Creado por</label>
                     <input disabled id="CreatedByID" [ngModel]="selectedOpportunity.CreatedByID" type="text" class="form-control"
                        placeholder="Creado por">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="OwnerID" class="form-label">Propietario de oportunidad</label>
                     <input disabled id="OwnerID" [ngModel]="selectedOpportunity.OwnerID" type="text" class="form-control"
                        placeholder="Propietario de oportunidad">
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="LastModifiedByID" class="form-label">Last Modified By</label>
                     <input disabled id="LastModifiedByID" [ngModel]="selectedOpportunity.LastModifiedByID" type="text" class="form-control"
                        placeholder="Last Modified By">
                  </div>

                </div><!-- Row -->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Tareas Asignadas</h6>

                <p-table [value]="tasks" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Asunto</th>
                      <th>Estatus</th>
                      <th>Fecha</th>
                      <th>Acciones</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-task>
                    <tr>
                      <td>{{task.Subject}}</td>
                      <td>{{task.Status}}</td>
                      <td>{{task.ActivityDate}}</td>
                      <td>
                        <button type="button" class="btn btn-primary btn-xs"
                          [routerLink]="['/savetask', selectedOpportunity.OpportunityID, task.Id]">
                          Modificar
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>