<div
  class="wrapper"
  [ngClass]="{
    'menu-layout-overlay': isOVerlay(),
    'menu-layout-static': isStatic(),
    'layout-light': app.lightMenu,
    'sidebar-inactive-l': menuInactiveDesktop,
    'sidebar-active-m': menuActiveMobile,
    'p-ripple-disabled': !app.ripple,
    'p-input-filled': app.inputStyle === 'filled'
  }"
>
  <app-topbar></app-topbar>

  <div class="sidebar" (click)="onMenuClick()">
    <div class="sidebar-scroll-content">
      <div class="logo" routerLink="/" style="outline: none; cursor: pointer">
        <h4 style="color:white;" >Ladylee</h4>
      </div>
      <div class="profile" >
        <img src="assets/layout/images/profile.png" alt="" />
        <a id="profile-button" href="#" (click)="toggleProfile($event)">
          <span class="username">Test User</span>
          <i class="pi pi-fw pi-cog"></i>
        </a>
        <ul [@submenu]="profileActive ? 'visible' : 'hidden'">
          
          <li>
            <a href="#" (click)="logout()"><i class="pi pi-fw pi-sign-out"></i><span>Logout</span></a>
          </li>
        </ul>
      </div>
      <app-menu></app-menu>
    </div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>


</div>
